<div class="spacing-container">
    <aside class="admin-pill-nav rounded">
        <a class="nav-item" routerLink="download" routerLinkActive="selected"><div class="name" trans>Download Button</div></a>
        <a class="nav-item" routerLink="banners" routerLinkActive="selected"><div class="name" trans>Banners</div></a>
        <a class="nav-item" routerLink="popups" routerLinkActive="selected"><div class="name" trans>Popups</div></a>
    </aside>

    <div class="ads-panels-container">
        <router-outlet></router-outlet>
    </div>
</div>