<analytics-header [data]="headerData"></analytics-header>

<div class="content">
    <div class="chart-row">
        <chart [chartConfig]="charts.weeklyPageViews">
            <div class="title" trans>This Week vs Last Week</div>
            <div class="subtitle" trans>By page views</div>
            <div class="chart-legend">
                <div class="legend-item" trans>This week</div>
                <div class="legend-item" trans>Last week</div>
            </div>
        </chart>

        <chart [chartConfig]="charts.browsers">
            <div class="title" trans>Top Browsers</div>
            <div class="subtitle" trans>By sessions</div>
        </chart>
    </div>

    <div class="chart-row">
        <div class="logs">
            <div class="logs-header">
                <div class="title" trans="">Monthly sessions</div>
                <div class="subtitle" trans="">By unique users</div>
            </div>
            <mat-table [dataSource]="dataSource" matSort class="logs-table">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header trans>User ID</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <span>{{user.id}}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header trans>Email</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="sessions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header trans>Sessions</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.logs.length}}</mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="['id', 'email', 'sessions']"></mat-header-row>
                <mat-row *matRowDef="let myRowData; columns: ['id', 'email', 'sessions']">
                </mat-row>
            </mat-table>

            <no-results-message *ngIf="!dataSource.data.length">
                <span primary-text trans>Nothing to Display.</span>
                <span secondary-text trans>There are no credits attached yet.</span>
            </no-results-message>
        </div>

        <chart [chartConfig]="charts.countries">
            <div class="title" trans>Top Countries</div>
            <div class="subtitle" trans>By sessions</div>
        </chart>
    </div>
</div>

<loading-indicator class="overlay" [isVisible]="loading | async"></loading-indicator>