@import "../../../scss/variables";

download {
  display: block;
  width: 100%;
  padding: 25px;
  .row {
    display: flex;
    .col {
      flex: 0 0 49%;
      &-margin {
        flex: 0 0 2%;
      }
    }
  }

  .panel {
    > .header {
      background-color: $site-bg-color-200;
      border: 1px solid $site-border-color-100;
      padding: 15px;
      margin-bottom: 15px;
      font-weight: 500;
      color: #555;
    }

    > .input-container {
      > textarea {
        max-width: 750px;
        height: 150px;
      }
    }


    > .save-button {
      margin: 0 0 30px;
    }
  }
}
