@import "../../../../scss/variables";

content-settings {
  .news-toggle-container {
    margin-bottom: 5px;
  }

  .sitemap-description {
    color: $site-text-color-300;
  }

  chip-input {
    .mat-chip-list-wrapper {
      height: initial !important;
    }
  }
}